/* ###  BUTTON & LINK #AF3E9A ### */
.color-darkOrchid .btn,.color-darkOrchid button { background-color:#BD2585; }

/* ###  TEXT STYLES  ### */
.color-darkOrchid .txtColr { color:#BD2585 !important; }
.color-darkOrchid .topHead { border-bottom-color:#BD2585; }
.color-darkOrchid .txtpink { color:#BD2585 !important; }
.color-darkOrchid .tabDetailMe li.active { background-color:#BD2585; }

/* ###  BACKGROUND  ### */
.color-darkOrchid .setBgColor { background-color:#BD2585 !important; }
.color-darkOrchid .setBorderColor { border-color:#BD2585 !important; }

/* ###  ASSETS  ### */
.color-darkOrchid .pagination li.active,.color-darkOrchid .navTab li.active { background-color:#BD2585; }

.color-darkOrchid ul.subNavMenu { background-color:#BD2585; }
.color-darkOrchid input[type="search"]:focus { border-color:#BD2585; }

/* ### ICON ### */
.color-darkOrchid ul.ico-rec-bullet li{ margin-left:18px; list-style-image:url(images/ico-rec-bullet.png); }
.color-darkOrchid p.ico-rec-bullet { display:list-item; list-style-image:url(images/ico-rec-bullet.png); }
.color-darkOrchid p.ico-rec-bullet-insert:before { content:url(images/ico-rec-bullet.png)"\00a0\00a0"; }

.color-darkOrchid .sprite { background-image:url(images/ico-widget-sprite.png) !important; }
.color-darkOrchid .sprite.ico-tell { background-position:0 0; }
.color-darkOrchid .sprite.ico-mapPoint { background-position:0 -28px; }
.color-darkOrchid .sprite.ico-print { background-position:0 -56px; }

/* FAQ CONTENT */
.color-darkOrchid .faq-detail .faq-content a { color:#BD2585; text-decoration:underline; }