.info-detail ul, .info-detail ol {
	margin: 0 1em;
	padding: 0 1em;
}
.info-detail ul li, .info-detail ol li {
	margin: 5px 0;
	padding: 5px 0;
}
.info-detail ul li {
	list-style: disc;
}
.info-detail ol li {
	list-style: decimal;
}
.info-detail ul.index-none, .info-detail ol.index-none {
	padding: 0;
}
.info-detail ul.index-none li, .info-detail ol.index-none li {
	list-style: none;
}